* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #B1BBF8
}

header {
    height: 80px;
    background-color: #fff;
}

main {
    margin: 50px auto;
    width: 70%;
    #B1BBF8
}

.logo {
    margin-left: 20px;
    vertical-align: middle;
    height: 60px;
    line-height: 80px;
}

#logo-text {
    line-height: 80px;
    font-size: 45px;
    font-weight: bold;
    vertical-align: middle;
}

.button-container {
    height: 60px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
}

.button {
    font-size: 11px;
    padding: 5px;
    border-radius: 7px;
    vertical-align: middle;
    height: 25px;
}

.buttons-div {
    margin-left: 40px;
    width: 250px;
    height: 60px;
    line-height: 60px;
}

.blue {
    background-color: #47ADF1;
    border: none;
}

.white {
    background-color: #fff;
}

#white-button {
    color: lightgray;
    border: 1px solid lightgray;
}

#blue-button {
    color: #47ADF1;
    border: none;
    color: #fff;
}
