* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #B1BBF8
}

header {
    height: 80px;
    background-color: #fff;
}

main {
    margin: 50px auto;
    width: 70%;
    #B1BBF8
}

.logo {
    margin-left: 20px;
    vertical-align: middle;
    height: 60px;
    line-height: 80px;
}

#logo-text {
    line-height: 80px;
    font-size: 45px;
    font-weight: bold;
    vertical-align: middle;
}

.button-container {
    height: 60px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.button {
    font-size: 11px;
    padding: 5px;
    border-radius: 7px;
    vertical-align: middle;
    height: 25px;
}

.buttons-div {
    margin-left: 40px;
    width: 250px;
    height: 60px;
    line-height: 60px;
}

.blue {
    background-color: #47ADF1;
    border: none;
}

.white {
    background-color: #fff;
}

#white-button {
    color: lightgray;
    border: 1px solid lightgray;
}

#blue-button {
    color: #47ADF1;
    border: none;
    color: #fff;
}

.list-container {
    padding-top: 30px;
    background-color: #fff;
    height: 700px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul {
    margin-bottom: 20px;
    margin-left: 40px;
    list-style: none;
}

li {
    margin: 15px 0;
    font-size: 18px;
}

.list-title {
    font-weight: bold;
    font-size: 22px;
}

.list-section {

}

.prima-lista {
    margin-bottom: 25px;
}

.altre-liste {
    margin-bottom: 25px;
}

